{% extends "base.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tasks/all.css' %}">
{% endblock %}

{% block content %}
    All
    <input type="text" placeholder="input task and press enter to save">
    <ul>
        {% for task in tasks %}
            <li>
                <input type="checkbox" name="{{ task.title }}" value="completed">
                {{ task.title }}
            </li>
        {% endfor %}
    </ul>
    
        
{% endblock %}