<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    {% if title %}
        <title>
            {{ title }} - MyToDo
        </title>        
    {% else %}
        <title>MyToDo</title>
    {% endif %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="row">
        <div class="col-2 no-float menu">
            <div class="username">
                <!-- {{ user.username }} -->
                root
            </div>
    
            <div class="tasks_type">
                <ul>
                    <li><a href="{% url 'task_all' %}">All {% if title_task_list == "All" %} {{ count }} {% endif %}</a></li>
                    <li><a href="#">Today</a></li>
                    <li><a href="#">Next 7 Days</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="{% url 'task_inbox' %}">Inbox {% if title_task_list == "Inbox" %} {{ count }} {% endif %}</a></li>
                </ul>
            </div>  

        </div>

        <div class="col-8 tasklist">
            <div class="title_current_task_list">
                {{ title_task_list }}
            </div>
            
            <div class="input_task_field">
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                </form>
            </div>            
                        
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
</body>
</html>